environment-alert {
  color: #fff;
  background-color: #CC9900;
  text-align: center;
  vertical-align: middle;
  display:block;
  height: 1.2rem;
  line-height: 1.2rem;
}

.toolytip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.toolytip .tooltiptext {
    font-size: .8rem;
    visibility: hidden;
    width: 120px;
    background-color: #17A2B8; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.toolytip:hover .tooltiptext {
    visibility: visible;
}

* {
  box-sizing: border-box;
}

body {
	padding-top: 70px;
}

.notes {
	padding: 0px 20px;
	color: #888;
	font-size: .9em;
	font-style: italic;
}

#currentEntry {
  font-size: .9rem;
}

#non_active_Entry {
  font-size: .8rem;
}

footer {
	font-size: .6em;
	color: #5e8bac;
	background-color: #eee;
	padding-top: 1em;
}

footer a img {
	border: 0px;
	}

footer a {
	color: #5e8bac;
	text-decoration: none;
	}

footer a:hover {
	background-color: transparent;
	text-decoration: underline;
}

footer .mlogo {
	width: 75px;
	height: 75px;
}

.fileUpload-group {
	margin-top: 5px;
}

.btnIcon {
	text-align: center;
}

#flashArea {
	height: 1rem;
  margin: 10px;
	font-weight: bold;
	font-size: 1.3em;
}
#flashbox {
  height: 2rem;
  margin-bottom: .4rem;
}

#fileToUpload {
  border: 1px solid #2f2fcc;
}
 