* {
  box-sizing: border-box;
}

body {
	padding-top: 70px;
}

.notes {
	padding: 0px 20px;
	color: #888;
	font-size: .9em;
	font-style: italic;

}
#currentEntry {
  font-size: .9rem;
}

#non_active_Entry {
  font-size: .8rem;
}

/* li {
	margin-top: 5px;

} */

footer {
	font-size: .6em;
	color: #5e8bac;
	background-color: #eee;
	padding-top: 1em;
}

footer a img {
	border: 0px;
	}

footer a {
	color: #5e8bac;
	text-decoration: none;
	}

footer a:hover {
	background-color: transparent;
	text-decoration: underline;
}

footer .mlogo {
	width: 75px;
	height: 75px;
}

.ui-datepicker-calendar {
    display: none;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    color: transparent;
}

.fileUpload-group {
	margin-top: 5px;
}

.btnIcon {
	text-align: center;
}

#flashArea {
	height: 20px;
	margin-left: 20px;
	font-weight: bold;
	font-size: 1.3em;
}
