* {
  box-sizing: border-box;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

body {
	padding-top: 70px;
}

.notes {
	padding: 0px 20px;
	color: #888;
	font-size: .9em;
	font-style: italic;

}
#currentEntry {
  font-size: .9rem;
}

#non_active_Entry {
  font-size: .8rem;
}

.hopwood {
	background: #E6E6DC;
	padding: 5px;
}

.notHopwood {
	background: #FFFFF0;
}

li {
	margin-top: 5px;

}

footer {
	font-size: .6em;
	color: #5e8bac;
	background-color: #eee;
	padding-top: 1em;
}

footer a img {
	border: 0px;
	}

footer a {
	color: #5e8bac;
	text-decoration: none;
	}

footer a:hover {
	background-color: transparent;
	text-decoration: underline;
}

footer .mlogo {
	width: 75px;
	height: 75px;
}


.outputContainer {
	padding: 5px 20px;
	background-color: #efe;
}

.ui-datepicker-calendar {
    display: none;
}

select {
	color:#000;
}

.fileUpload-group {
	margin-top: 5px;
}

.btnIcon {
	text-align: center;
}

#flashArea {
	height: 20px;
	margin-left: 20px;
	font-weight: bold;
	font-size: 1.3em;
}
